html {
  background-color: #eeeeee;
}
body {
	background-image: url("Screen Shot 2017-02-13 at 12.00.32 AM.png");
	min-height: 500px; 
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
	position: relative;
}
div {
	position: center;
}
