html {
  background-color: #eeeeee;
}
body {
  margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #075BA1;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    font-family: Verdana;
    font-weight: bold;
	z-index: 2
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #6a9cc6;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #075BA1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 90px;
}

.dropdown-content a {
    color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 10px;
}

.dropdown-content a:hover {background-color: #6a9cc6}

.dropdown:hover .dropdown-content {
    display: block;
}
.one {
	display: block;
}
.first {
	background-image: url("blue-background-1455550229nC9.jpg");
	height: 20%; 
	background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
	padding: 5px 0px;
	position: relative;
	text-align: center;
	width: 100%;
}
.first h2 {
	padding: 200px 0px;
	color: white;
	font-family: Arial;
}
.once {
	box-shadow: inset 0px 0px 10px grey;
	-moz-box-shadow: inset 0px 0px 10px grey;
	-webkit-box-shadow: inset 0px 0px 10px grey;
	width: 100%;
}
.once p {
	font-family: Arial;
	padding: 0px 10px;
}
.two {
	display: block;
}
.second {
	background-color: none;
	margin: 0;
	padding: 5px 0px;
	position: relative;
	text-align: center;
	box-shadow: inset 0px 0px 10px grey;
	-moz-box-shadow: inset 0px 0px 10px grey;
	-webkit-box-shadow: inset 0px 0px 10px grey;
	width: 100%;
}
.second h3 {
	padding-top: 200px;
	color: black;
	font-family: Arial;
}
.second p {
	font-family: Arial;
}
.twice {
	background-image: url("vector-abstract-blue-wave-background.jpg");
	height: 20%; 
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
	padding: 5px 0px;
	position: relative;
	text-align: center;
	width: 100%;
}
.twice h2 {
	color: black;
	font-family: Arial;
	padding: 200px 0px;
}
.third {
	background-image: url("Augmented_reality_at_Museu_de_Mataró_linking_to_Catalan_Wikipedia_(18).JPG");
    height: 30%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
	padding: 5px 0px;
	position: relative;
	text-align: center;
}
.third h2 {
	padding-top: 170px;
	color: black;
	font-family: Arial;
}
.third p {
	font-family: Arial;
}
footer {
	background-color: #075BA1;
	padding: 1px 0px;
	display: flex;
	justify-content: center;
	width: 100%;
}
footer p {
	font-family: Verdana;
	color: white;
}
